APP_TITLE=Marine Image Retrieval API
APP_VERSION=0.4.0

DEVICE=cuda
TOPK=5
THRESHOLD=0.90
ROUTER_THRESHOLD=0.5
USE_BIOCLIP2=true

HOST=0.0.0.0
PORT=8000

YOLOV5_DIR=/path/to/yolov5
MODEL_DIR=/path/to/models/bioclip
METADATA=/path/to/metadata.jsonl
INDEX_DIR=/path/to/faiss_sonar

ROUTER_MODEL_PATH=/path/to/router/best.pt
SONAR_CLS_PATH=/path/to/sonar_cls/best.pt
FISH_CORAL_CLS_PATH=/path/to/fish_coral_cls/best.pt
FISH_MODEL_PATH=/path/to/fish_detector/best.pt
CORAL_MODEL_PATH=/path/to/coral_detector/best.pt
BIOCLIP2_CHECKPOINT=/path/to/bioclip2/epoch_50.pt
BIOCLIP2_TERMS_PATH=/home/mazhe/assets/bioclip2_terms.txt
